html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}
a {
    color: blue;
    transition: 300ms;
}
a:hover {
    color: red;
}
.nav-wrapper {
    font-size: 50px;
    border: black;
    border-radius: 5px;
    border-style: solid;
    transition: 300ms;
    text-align: center;
    background-color: blueviolet;
}
.nav {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.nav-link {
    color: white;
    transition: 300ms all;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
.nav-link:hover {
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.repo {
    text-align: center;
}
.repo-title {
    font-size: 75px;
    text-decoration: none;
}
.repo-fullname {
    font-size: 25px;
}
.repo-desc {
    font-size: 50px;
    background-color: grey;
}
table {
    width: 100%;
    padding: 5px;
}
th {
    text-align: left;
    border: black;
    border-style: solid;
    border-width: 1px;
}
td {
    border: black;
    border-style: solid;
    border-width: 1px;
}
.dropdown-docs {
  position: relative;
  display: inline-block;
  transition: 300ms;
}

.dropdown-content-docs {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: 25px;
}

.dropdown-docs:hover .dropdown-content-docs {
  display: block;
  transition: 300ms;
}