html {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 0px;
        width: auto;
        overflow:scroll;
        overflow-x: hidden;
    }
    .navbar {
        display: block;
        text-align: center;
        border: black;
        border-radius: 10px;
        border-style: solid;
    }
    .navbar-content {
        font-size: 60px;
    }
    .navbar-content:hover {
        cursor: default;
    }
    .navbar-links {
        padding: 0px;
    }
    .navbar-link {
        text-decoration: none;
        color: black;
        font-size: 50px;
        border: black;
        border-radius: 5px;
        border-style: solid;
        padding: 2px;
        box-shadow: 4px 4px grey;
        transition: all 300ms;
    }
    .navbar-link:hover {
        background-color: blue;
        color: white;
        font-size: 60px;
    }
    .navbar-link:active {
        color: black;
    }
    .main-content {
        text-align: center;
        border: black;
        border-radius: 10px;
        border-style: solid;
        transition: 300ms;
    }
    .main-content:hover {
        background-color: grey;
        color: white;
    }
    .content-break {
        text-align: center;
    }
    a {
        text-decoration: none;
        color: blue;
        transition: 300ms;
    }
    a:hover {
        color: red;
    }
    table, th, td {
        border: black;
        border-style: solid;
        border-width: 1px;
        border-collapse: collapse;
    }
    table {
        width: 100%;
    }
    th, td {
        padding: 5px;
    }
    th {
        background-color: grey;
    }
    th:hover {
        cursor: default;
    }
    .alert {
        background-color: red;
        color: white;
    }
    .alert-link {
        color: blue;
    }
    .logo {
        transition: 300ms;
        border: black;
        border-radius: 10px;
        border-style: solid;
        font-size: 60px;
        overflow: hidden;
        background-image: url("src/logobg2.png");
        image-orientation: 90deg;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: center;
    }
    .logo:hover {
        cursor: default;
    }
    .logo-a {
        font-size: 100px;
        color: black;
        border: black;
        border-radius: 5px;
        border-style: solid;
        padding: 2px;
        box-shadow: 4px 4px grey;
        width: 100%;
        font-size: 40%;
        background-color: white;
    }
    .logo-a:hover {
        color: white;
        background-image: url("src/logobg2.png");
        image-orientation: 90deg;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-shadow: none;
    }
    .logo-a2 {
        font-size: 20px;
        color: white;
    }
    .logoimg {
        transform: rotate(90deg);
        z-index: 0;
        image-orientation: 0;
    }
    .slideshow {
        border: black;
        border-radius: 10px;
        border-style: solid;
        overflow: hidden;
    }
    .slide {
        display:none;
    }
    .slideimg {
        align-content: center;
        width: 100%;
    }
    .slidecaption {
        color: black;
        font-size: 25px;
        padding: 8px 12px;
        width: 100%;
        text-align: center;
    }
    .slidenum {
        text-align: center;
        color: black;
        font-size: 12px;
        padding: 5px;
        top: 0;
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .dot:active {
        color: black;
    }
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {opacity: 0.9}
        to {opacity: 1}
    }
    @keyframes fade {
        from {opacity: 0.9}
        to {opacity: 1}
    }