html {
  margin: 0;
  transition: 300ms;
}
* {
  transition: 150ms;
}
body {
  margin: 5px;
  padding: 5px;
}
table {
  border: black;
  border-style: solid;
  width: 100%;
}
.name,
.temp,
.desc,
.sev,
.like,
.noal,
.instruc,
.wind {
  padding: 5px;
  margin: 10px;
  border: black;
  border-width: 1px;
  border-style: solid;
}
.icon {
  padding: 10px;
}
table:hover {
  cursor: default;
}
.name:hover {
  color: white;
  background-color: green;
}
.temp:hover {
  color: white;
  background-color: blue;
}
.desc:hover {
  color: white;
  background-color: orangered;
}
.wind:hover {
  color: white;
  background-color: fuchsia;
}
embed {
  border: black;
  border-style: solid;
}
a {
  text-decoration: none;
  color: blue;
  transition: 300ms;
}
tr {
  color: white;
  background-color: red;
}
.sev:hover {
  color: white;
  background-color: crimson;
}
.like:hover {
  color: white;
  background-color: darkgoldenrod;
}
.noal:hover {
  color: white;
  background-color: darkorchid;
}
.instruc:hover {
  color: white;
  background-color: blueviolet;
}
#error {
  color: white;
  background-color: red;
  font-weight: bold;
}
#devmode:hover {
  cursor: pointer;
}
.unstyled-a {
  color: rgb(0, 0, 255);
}
.unstyled-a {
  text-decoration: none;
  color: rgb(0, 3, 252);
  text-decoration-color: rgb(0, 3, 252);
  cursor: pointer;
}
hr {
    border: black;
    border-width: 1px;
    border-style: solid;
}
table > input {
  padding: 5px;
  margin: 10px;
}

.input-disabled:hover {
  cursor: not-allowed;
}